// Table of Content
//-----------------------
//01.wpfm dashborad
//02.Add New Feed
//03.Feed Configuration
//04.Feed Configuration table
//---------------------------------------------

/*----Shepherd style --------*/
body.post-type-product-feed.shepherd-active {
  &::after {
    content: "";
    display: block;
    background-color: #000;
    opacity: 0.4;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .shepherd-element.shepherd-open,
  .shepherd-target.shepherd-enabled {
    z-index: 100;
    position: relative;
  }

  .shepherd-has-title .shepherd-content .shepherd-header {
    background-color: $primary-color;
    padding: 0.6em;
  }

  .shepherd-button {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 10px;
    color: hsla(0, 0%, 100%, 0.75);
    margin-right: 0.5rem;
    padding: 0.5rem 1.5rem;
    transition: all 0.5s ease;
    &:hover {
      background-color: #eef4ff;
      border: 1px solid #b0cdff;
      color: #333333;
    }
  }

  .shepherd-element.shepherd-theme-arrows-plain-buttons.shepherd-element-attached-top.shepherd-element-attached-center
    .shepherd-content {
    margin-top: 20px;
  }

  .shepherd-element.shepherd-has-title[data-popper-placement^="bottom"]
    > .shepherd-arrow:before {
    background-color: $primary-color;
  }

  .shepherd-title {
    font-weight: 500;
    color: #fff;
  }

  .shepherd-has-title .shepherd-content .shepherd-cancel-icon {
    color: #fff;
  }
}

/*----01.wpfm dashborad style --------*/

.post-type-product-feed {
  .combined-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .notice,
  div.error,
  div.updated {
    background: #fff;
    border: none;
    border-left-width: 4px;
    box-shadow: none;
    margin: 5px 0px 2px;
    padding: 1px 12px;
    border-left: 4px solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .notice-success,
  div.updated {
    border-left-color: #00a32a;
  }
  .notice-success,
  div.error {
    border-left-color: #d63638;
  }
  .notice-success,
  div.notice-error {
    border-left-color: #d63638;
  }

  .wrap .add-new-h2,
  .wrap .add-new-h2:active,
  .wrap .page-title-action,
  .wrap .page-title-action:active {
    border: 1px solid #56b2fb;
    border-radius: 5px;
    color: #fff;
    background: #56b2fb;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      border: 1px solid #d2d2d2;
      color: #3c3c3c;
      cursor: pointer;
    }
  }

  .wrap .page-title-action:focus {
    border-color: #56b2fb;
    box-shadow: 0 0 0 1px #56b2fb;
    outline: 2px solid transparent;
  }

  #screen-meta-links .show-settings {
    margin-bottom: 20px;
  }

  div#wpcontent {
    background-color: #f6f5fa;
  }

  div#rex_feed_new_changes_msg_content,
  div#rex_feed_review_request_body_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 20px);
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(190, 190, 215, 0.2);
    border-radius: 10px;
    padding: 15px 15px 15px 20px;
    margin: 0 0 auto;
    border-left: 4px solid #00b4ff;

    .new_changes_msg_contnent,
    .request_rating_contnent {
      position: relative;

      h2 {
        font-weight: 700;
        font-size: 18px;
        color: #333;
      }
      p {
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        line-height: 20px;
      }
      .request_rating_heading {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      a:focus {
        color: #043959;
        box-shadow: 0 0 0 1px transparent, 0 0 2px 1px rgb(79 148 212 / 0%);
        outline: 1px solid transparent;
      }
    }

    .new_changes_msg_contnent h2 {
      padding-left: 10px;
    }
  }

  div#rex_feed_new_changes_msg_content {
    padding: 10px 15px 10px 20px;
    margin-top: 20px;
  }

  div#rex_feed_new_changes_msg_btn,
  div#rex_feed_review_request_btn {
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;
    }
  }

  a#view_changes_btn,
  a#rex_rate_now {
    background-color: #56b2fb;
    border: 1px solid #56b2fb;
    padding: 10px;
    font-size: 10pt;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
  }

  a#view_changes_btn {
    font-size: 16px;
    text-align: center;
    width: 130px;
  }

  a#view_changes_btn:hover,
  a#rex_rate_now:hover {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    color: #3c3c3c;
  }

  a#rex_rate_not_now {
    background-color: #fff;
    border: 1px solid #d2d2d2;
    padding: 10px;
    font-size: 10pt;
    color: #3c3c3c;
    border-radius: 5px;
  }

  a#rex_rate_not_now:hover {
    background-color: #56b2fb;
    border: 1px solid #56b2fb;
    color: #fff;
  }

  a#rex_rated_already {
    display: block;
    color: #333333;
    font-size: 14px;
  }

  a#rex_rated_already:hover {
    color: #56b2fb;
  }

  #titlewrap input {
    border: unset;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgb(190 190 215 / 20%);
  }

  #titlediv #title-prompt-text {
    position: absolute;
    z-index: 1000;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 15px 8px 10px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #666666;
  }

  #poststuff #post-body.columns-2 {
    margin-right: 370px;
  }

  div#rex_feed_how_to_guide.postbox {
    border: none;
    margin-bottom: 0;
  }

  #post-body.columns-2 #postbox-container-1 {
    float: right;
    margin-right: -370px;
    width: 370px;

    /*Trigger based review request*/

    div#rex_feed_trigger_based_review_request {
      border: unset;
      border-radius: 10px;
    }

    #rex_feed_how_to_guide .postbox-header,
    #rex_feed_upgrade_notice .postbox-header,
    #rex_feed_google_merchant .postbox-header,
    #rex_feed_file_link .postbox-header,
    #submitdiv .postbox-header,
    #rex_feed_trigger_based_review_request .postbox-header {
      display: none;
    }

    #rex_feed_google_merchant.postbox,
    #rex_feed_file_link.postbox,
    #submitdiv.postbox {
      padding: 25px 27px;
      position: relative;
      min-width: auto;
      border: none;
      box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
      background: #fff;
      border-radius: 10px;
      .inside {
        padding: 0;
        margin: 0;
      }
    }

    #rex_feed_how_to_guide.postbox .inside h2 {
      font-weight: 700;
      font-size: 18px;
      color: #333;
      padding: 0;
    }

    /* sidebar right premium version free style */

    #rex_feed_upgrade_notice.postbox {
      background-color: #ffffff;
      box-shadow: 0px 1px 2px rgba(190, 190, 215, 0.2);
      border-radius: 10px;
      padding: 24px 26px;
      border: none;

      #rex_feed_features_text {
        h2 {
          font: {
            family: "Roboto", sans-serif;
            style: normal;
            weight: 700;
            size: 18px;
          }

          line-height: 1.16;
          color: #216df0;
          padding: 10px 20px;
          border-radius: 5px;
          background-color: #eef4ff;
          text-transform: capitalize;
        }

        .parent {
          li {
            display: grid;
            gap: 13px;
            grid-template-columns: 1fr 13fr;
            align-items: start;
            font: {
              family: "Roboto", sans-serif;
              style: normal;
              weight: 500;
              size: 15px;
            }
            color: #697385;
            line-height: 1.2;
            padding-top: 19px;
          }
        }

        a {
          font: {
            family: "Roboto", sans-serif;
            style: normal;
            weight: 700;
            size: 15px;
          }

          display: inline-block;
          line-height: 1.5;
          color: #fff;
          border-radius: 6px;
          margin-top: 30px;
          background-color: #216df0;
          border: 1px solid #216df0;
          padding: 10px 50px;

          &:hover {
            background-color: #fff;
            border: 1px solid #d2d2d2;
            color: #333333;
          }
        }
      }

      .inside {
        padding: 0;
        margin: 0;
      }
    }

    #rex_feed_google_merchant.postbox {
      .inside {
        .rex_feed_google_merchant_sidebar__content {
          display: none;
        }

        div {
          margin: 5px 0;
        }

        label {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 1.6;
          color: #333333;
          margin: 8px 0;
          display: inline-block;
          p {
            color: #fff;
          }
        }
        input[type="text"] {
          width: 100%;
          border-bottom: 1px solid #dfdbe7;
          min-height: 38px;
          border-color: #dfdbe7;
          border-radius: 6px;
          background-color: #f6f5fa;
        }
        p {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          color: #666666;
          padding-top: 10px;
        }

        h2 {
          font-weight: 700;
          font-size: 18px;
          color: #333;
          padding: 0;
        }

        .google-status {
          a {
            font-size: 16px;
            line-height: 1.5;
            color: #fff;
            border-radius: 5px;
            margin: 5px 0;
            display: block;
            background-color: $primary-color;
            border: 1px solid $primary-color;
            padding: 10px;
            text-align: center;

            &:hover {
              background-color: #fff;
              border: 1px solid #d2d2d2;
              color: #3c3c3c;
            }
          }
        }
      }
    }

    #rex_feed_file_link.postbox {
      a {
        background-color: $primary-color;
        border: 1px solid $primary-color;
        padding: 10px;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        border-radius: 5px;
        margin: 8px 0;
        transition: all 0.3s ease;
        i {
          margin-right: 10px;
        }
        &:hover {
          background-color: #fff;
          border: 1px solid #d2d2d2;
          color: #3c3c3c;
        }
      }

      .inside {
        padding: 0;
        h2 {
          font-weight: 700;
          font-size: 18px;
          color: #333;
          padding: 0 0 15px;
        }
      }

      .cmb-row {
        padding: 0;
        margin: 0;
      }
    }

    #submitdiv.postbox {
      #major-publishing-actions {
        background-color: #fff;
        display: flex;
        flex-flow: wrap;
        padding: 10px 0;
        justify-content: space-between;

        #publishing-action {
          .button-primary {
            background-color: #3fb3fb;
            border: 1px solid #3fb3fb;
            padding: 10px;
            font-size: 12px;
            line-height: 1.5;
            color: #fff;
            border-radius: 5px;
            transition: all 0.3s ease;
            &:hover {
              background-color: #fff;
              border: 1px solid #d2d2d2;
              color: #3c3c3c;
            }
          }
          order: 4;
        }

        #delete-action {
          width: 100%;
          display: flex;
          order: 3;
        }

        button#btn_on_feed {
          background-color: #3fb3fb;
          border: 1px solid #3fb3fb;
          padding: 10px;
          font-size: 12px;
          line-height: 1.5;
          color: #fff;
          border-radius: 5px;
          margin: 0;
          transition: all 0.3s ease;
          order: 4;
          &:hover {
            background-color: #fff;
            border: 1px solid #d2d2d2;
            color: #3c3c3c;
            cursor: pointer;
          }
        }
      }
    }

    #rex_feed_trigger_based_review_request .inside {
      padding: 70px 30px 40px 30px;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: right bottom;
      object-fit: cover;
    }

    /*Trigger based review request ENDS*/
  }

  #poststuff #post-body.columns-2 #side-sortables {
    width: 370px;
  }

  #poststuff .postbox-container,
  #post-body-content {
    padding-right: 30px;
  }

  #rex_feed_config_heading #config-table {
    display: none;
  }

  h5#rex-feed-config-heading {
    display: none;
  }
}

.post-type-product-feed #rex_feed_how_to_guide .inside {
  padding: unset;
  margin: unset !important;
}

/*----02.Add New Feed style --------*/
#rex_feed_head_btn {
  background-color: transparent;
  border: none;
  box-shadow: none;

  .inside {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 8px 0px 27px 0px;
    padding: 0;
    h2 {
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      text-transform: capitalize;
      font-weight: bold;
      padding: 0;
    }

    .rex-feed-cofig-settings {
      display: flex;
      flex-flow: wrap;
    }
  }

  .rex-fill-button {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #333333;
    line-height: 1.14;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgb(190 190 215 / 20%);
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.5s;

    svg {
      margin-right: 9px;
    }
    &:hover {
      color: #fff;
      background: $primary-color;
      box-shadow: 0px 1px 2px rgba(190, 190, 215, 0.2);
      transition: all 0.5s;
    }
  }

  #rex-feed-documentation-btn,
  #rex-feed-troubleshoot-btn {
    &:hover {
      svg path {
        fill: #fff;
        transition: all 0.5s;
      }
    }
  }

  #rex-pr-filter-btn {
    &:hover {
      svg path {
        stroke: #fff;
        transition: all 0.5s;
      }
    }
  }

  #rex-feed-settings-btn {
    &:hover {
      svg path {
        stroke: #fff;
        transition: all 0.5s;
      }
      svg circle {
        stroke: #fff;
        transition: all 0.5s;
      }
    }
  }
}

/*----03.Feed Configuration style --------*/
#rex_feed_google_merchant .postbox-header,
#rex_feed_progress_bar .postbox-header,
#rex_feed_conf .postbox-header,
#rex_feed_config_heading .postbox-header,
#rex_feed_head_btn .postbox-header,
#rex_feed_products_div .postbox-header,
#rex_feed_config_headings {
  display: none;
}

#rex_feed_conf {
  border: 0;
  background: #ffffff;
  box-shadow: 0px 15px 20px rgb(202 202 224 / 25%);
  border-radius: 10px;
  margin-bottom: 30px;

  .inside {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    align-content: center;
    padding: 22px 25px;
    grid-gap: 50px;
  }

  .rex_feed_config_div {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 17px;
  }

  .rex-feed-feed-separator {
    grid-template-columns: 0.95fr 2fr;
  }

  label {
    display: flex;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    .rex_feed-tooltip svg {
      top: 5px;
      left: 10px;
    }
  }

  .rex_feed_config_div i {
    cursor: pointer;
    position: relative;
    top: 2px;
    padding: 0 10px;
    color: #1eb2fb;
  }

  select {
    border-radius: 10px;
    height: 50px;
  }
}

/*----04.Feed Configuration table style --------*/
#rex_feed_config_heading {
  .inside {
    margin: 0;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #dfdbe7;
  box-sizing: border-box;

  #config-table {
    thead {
      tr th {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.857143px;
        text-transform: uppercase;
        color: #333333;
        padding: 15px 10px 15px 10px;
        border-bottom: 1px solid #dfdbe7;

        span {
          color: #fe4e4e;
        }

        #rex_feed_type_head,
        #rex_feed_val_head {
          color: #666666;
        }

        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
          text-align: right;
        }
      }
    }

    tbody {
      tr td {
        border-bottom: 1px solid #dfdbe7;
        padding: 30px 10px 30px;
        min-height: 38px;
        border-color: #dfdbe7;
        border-radius: 6px;
        background-color: unset;

        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 50px;
          text-align: center;
          vertical-align: middle;
        }

        a i {
          font-size: 20px;
          color: #fe4e4e;
        }

        input {
          width: 100%;
          border-bottom: 1px solid #dfdbe7;
          min-height: 38px;
          border-color: #dfdbe7;
          border-radius: 6px;
          background-color: unset;
          max-width: 190px;
        }

        select {
          max-width: 190px;
        }

        &:nth-child(5) input,
        &:nth-child(4) input {
          max-width: 71px;
        }
        &:nth-child(7) input {
          max-width: 87px;
        }
      }
    }
  }

  #rex-feed-footer-btn {
    background-color: white;
    padding: 20px 25px;
    border-radius: 10px;

    .rex-new-custom-btn {
      font-size: 15px;
      font-weight: 400;
      border-radius: 10px;

      svg {
        vertical-align: sub;
        transition: all 0.3s ease;
      }
      &:hover svg path {
        stroke: #333333;
      }
    }

    .rex-new-custom-btn {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 10px;

      &:hover {
        background-color: #eef4ff;
        border: 1px solid #b0cdff;
        color: #333333;
      }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;

    .rex-feed-publish-btn {
      .rex-new-custom-btn {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-right: 0;
        padding: 0 40px;
      }
    }
  }
  .rex_cat_map {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #216df0;
    outline: 0;
  }
}

.rex-feed-publish-btn,
.rex-feed-attr-btn-area {
  display: flex;
  align-items: center;
  flex-flow: wrap row;
  gap: 15px;
}

#rex_feed_progress_bar.postbox {
  position: relative;
  min-width: 255px;
  border: 0;
  background: #ffffff;
  box-shadow: 0px 15px 20px rgb(202 202 224 / 25%);
  border-radius: 10px;
  display: none;
}

/*----05.Progress bar style --------*/
#rex_feed_progress_bar.postbox .inside {
  padding: 10px;
  line-height: 1.4;
  font-size: 14px;

  .rex-feed-progressbar {
    position: relative;

    .progressbar-bar-percent {
      position: absolute;
      z-index: 11;
      right: 10px;
      top: 5px;
    }
  }

  .progress-msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    .feed-msg {
      color: #1fb3fa;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      i {
        margin-right: 10px;
      }
    }
  }
}

/*----06.google merchant style --------*/

#rex_feed_google_merchant {
  &.postbox {
    border: 0;
    background: #ffffff;
    box-shadow: 0px 15px 20px rgba(202, 202, 224, 0.247296);
    border-radius: 10px;
  }
  .inside {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(202, 202, 224, 0.247296);
    border-radius: 10px;

    h2 {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.16;
      color: #216df0;
      background-color: #f7faff;
      border-bottom: 1px solid #e0ebff;
      border-radius: 10px 10px 0px 0px;
      padding: 13px 25px;
    }

    .rex_feed_google_merchant_content__area {
      display: grid;
      grid-template-columns: 1fr 1.7fr;
      gap: 60px;
      padding: 27px 25px;

      .rex_feed_google_target__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;

        label {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #333333;
          margin-bottom: 7px;
          text-transform: capitalize;
          display: block;
        }

        select,
        input {
          background-color: #ffffff;
          border: 1px solid #dfe8f5;
          border-radius: 6px;
          padding: 10px 12px;
        }
      }

      .google-status-area {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        align-items: center;
        margin-top: 20px;

        p.google-status {
          background: #fffcef;
          border: 1px solid #ffefb6;
          border-radius: 7px;
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #697385;
          padding: 5px 20px;
        }
        a {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          color: #ffffff;
          background: $primary-color;
          border: 1px solid $primary-color;
          border-radius: 6px;
          transition: all 0.3s ease;

          &:hover {
            background-color: #eef4ff;
            border: 1px solid #b0cdff;
            color: #333333;
          }
        }
      }

      p.google-desc {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #697385;
        a {
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 24px;
          display: inline-block;
          text-decoration: underline;
        }
      }
    }
  }
}

/* Responsive code All product feeds  */

@media (max-width: 1599px) {
  #rex_feed_conf .inside {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    grid-gap: 20px;
  }

  #rex_feed_conf .rex_feed_config_div {
    grid-template-columns: auto;
    grid-gap: 10px;
  }

  /* dash border  layout style */
  .post-type-product-feed {
    #poststuff #post-body.columns-2 {
      margin-right: 270px;
    }

    #post-body.columns-2 #postbox-container-1 {
      float: right;
      margin-right: -270px;
      width: 270px;

      #rex_feed_trigger_based_review_request .inside {
        padding: 35px 30px 40px 30px;
        box-shadow: 0px 1px 2px rgb(190 190 215 / 20%);
        background-image: none;
      }
      div#rex_feed_review_request_body_content {
        flex-direction: column;
      }
    }

    #poststuff #post-body.columns-2 #side-sortables {
      width: 270px;
    }

    #poststuff .postbox-container,
    #post-body-content {
      padding-right: 20px;
    }

    #submitdiv.postbox {
      #major-publishing-actions {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        background: white;

        #delete-action {
          float: none;
          order: 1;
          width: 100%;
        }
      }
    }
  }

  #rex_feed_config_heading {
    #config-table {
      thead {
        tr {
          th {
            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              padding-right: 20px;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            &:first-child {
              padding-left: 20px;
            }

            &:last-child {
              padding-right: 20px;
            }
            a {
              i {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1399px) {
  #rex_feed_config_heading {
    #config-table {
      thead {
        tr {
          th {
            &:first-child {
              padding-left: 10px;
            }

            &:last-child {
              padding-right: 10px;
            }
          }
        }
      }

      tbody {
        tr {
          td {
            &:first-child {
              padding-left: 10px;
            }

            &:last-child {
              padding-right: 10px;
            }
            a {
              i {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }

  .wp-core-ui #rex_feed_config_heading select {
    font-size: 12px;
  }

  #rex_feed_product_filters,
  #rex_feed_product_settings {
    max-width: 850px;
  }

  #rex_feed_conf {
    .inside {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // dash board side bar
  .post-type-product-feed {
    #submitdiv.postbox {
      #major-publishing-actions {
        display: grid;
      }
    }
  }

  #rex_feed_google_merchant .inside .rex_feed_google_merchant_content__area {
    gap: 20px;
  }
}

@media (max-width: 1199px) {
  #rex_feed_conf .inside {
    grid-template-columns: 1fr;
  }

  #rex_feed_config_heading {
    #config-table {
      thead {
        tr {
          th {
            display: none;
          }
        }
      }

      tbody {
        tr {
          td {
            &:first-child {
              padding-left: 0px;
            }
            a {
              i {
                justify-content: center;
              }
            }

            display: block;
            padding: 30px 0 0;
            position: relative;
            width: 100%;
            margin-bottom: 10px;
            border-bottom: none;

            input,
            select {
              max-width: initial;
              width: 100%;
            }

            &:before {
              content: "" attr(data-title) "";
              min-width: 100px;
              text-transform: capitalize;
              font-weight: 500;
              color: #222;
              position: absolute;
              top: 0px;
              left: 0;
            }
          }

          margin-bottom: 20px;
          border: 1px solid #e8e8e8;
          display: block;
          width: 100%;
          border-radius: 3px;
          padding: 10px;
        }
      }
    }
    border: none;
  }

  #rex_feed_head_btn .rex-fill-button {
    margin-bottom: 10px;
  }
  .rex-fill-button.mr-5 {
    margin-right: 0.8rem;
  }

  #rex_feed_google_merchant
    .inside
    .rex_feed_google_merchant_content__area
    .rex_feed_google_target__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  #rex_feed_google_merchant
    .inside
    .rex_feed_google_merchant_content__area
    .google-status-area {
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .post-type-product-feed {
    #poststuff #post-body.columns-2 #side-sortables {
      width: 100%;
    }
  }

  #rex_feed_head_btn .rex-fill-button {
    margin-bottom: 0px;
  }
  .rex-fill-button.mr-5 {
    margin-right: 0.8rem;
  }
}

@media (max-width: 480px) {
  /* Add New Feed Section */

  #rex_feed_head_btn {
    .inside h2 {
      font-size: 14px;
    }

    #rex-pr-filter-btn {
      display: block;
      margin: 10px 0 10px;
    }

    #rex-feed-settings-btn {
      display: block;
      margin: 10px 0;
    }
  }

  #rex_feed_config_heading {
    #rex-feed-footer-btn {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-gap: 10px;
      align-items: center;
      #rex-new-custom-attr {
        margin-right: 0px;
      }
    }
  }
}
