//-----------Categorie mapping page style------------
.rex-accordion,
.category-mapper-wrapper {
  .cat-mapper-header {
    margin-bottom: 20px;

    h5 {
      font-size: 20px;
      color: #363b4e;
      font-family: "Roboto";
      font-weight: 500;
    }
  }

  .mapper-name {
    display: flex;
    flex-flow: row;
    align-items: center;

    p {
      font-size: 16px;
      color: #363b4e;
      font-family: "Roboto";
      font-weight: 500;
      padding-right: 20px;
      margin-right: 60px;
    }
    input {
      width: 375px;
      height: 50px;
      border-radius: 5px;
      background-color: #ffffff;
      font-size: 14px;
      color: #363b4e;
      font-family: "Roboto";
      font-weight: 400;
      padding: 8px 15px;
      transition: all 0.3s ease;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .cat-map {
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
  }

  .cat-map-header {
    border-radius: 5px 5px 0 0;
    filter: drop-shadow(0px 2px 2px rgba(226, 226, 238, 0.54));
    background-color: #ffffff;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px 20px;

    h5 {
      font-size: 14px;
      letter-spacing: 1px;
      color: #363b4e;
      font-family: "Roboto";
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .categories {
    padding: 20px 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media #{$device_992_1199} {
      display: block;
    }

    .single-category {
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-bottom: 20px;
      width: 43%;

      @media #{$device_992_1199} {
        width: 100%;
      }

      .label {
        font-size: 14px;
        color: #363b4e;
        font-family: "Roboto";
        font-weight: 500;
        padding-right: 15px;
        width: 180px;
      }

      .input-field {
        width: calc(100% - 180px);
      }

      input {
        width: 100%;
        height: 48px;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #e5e8f3;
      }
    }
  }

  select,
  textarea,
  input {
    height: 40px;
    box-shadow: none !important;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #e8e8e8;

    &:focus {
      border-color: rgba($primary-color, 0.7);
    }
  }
  textarea {
    height: 120px;
  }

  .cat-map-actions {
    button.btn-large {
      height: 44px;
      line-height: 44px;
      background-color: #40b4fb;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      border: none;
      text-transform: capitalize;
      min-width: 120px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
      margin-right: 10px;
      @extend .transition-3s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #1fb3fa;
      }
      &:focus {
        box-shadow: none;
        outline: inherit;
      }

      i {
        margin-right: 2px;
        font-size: 15px;
      }
    }
  }
}

.rex-accordion .cat-map {
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  margin-bottom: 15px;
}
//--------end group selector-------

//----------rex-accordion-------
.rex-accordion {
  background: #f6f6f8;
  padding: 30px;
  margin-top: 22px;
  border-radius: 12px;

  @media #{$device_992_1199} {
    padding: 20px;
  }

  .acordion-item {
    margin-bottom: 15px;
    border-radius: 5px;
    background: #fff;

    &:last-child {
      margin-bottom: 0;
    }

    h6 {
      a {
        display: block;
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 500;
        padding: 12px 20px;
        color: #363636;

        &:before {
          content: "+";
          margin-right: 16px;
          font-weight: normal;
          width: 5px;
          display: inline-block;
        }
        &.selected:before {
          content: "-";
        }

        &:focus {
          box-shadow: none;
          outline: inherit;
        }
      }
    }

    .inner {
      background: #f6f6f8;
      border-top: 1px solid #e8e8e8;
    }
  }
}

//------category-mapper-wrapper------
.category-mapper-wrapper {
  &.card {
    padding: 20px 30px 30px;
    max-width: 100%;
    box-shadow: none;
    background: #f6f6f8;
    border: none;
    border-radius: 12px;

    @media #{$device_992_1199} {
      padding: 10px 20px 20px;
    }
  }
}

.ui-autocomplete {
  .ui-menu-item {
    padding: 10px;
    border-bottom: 1px solid grey;
  }
}
