@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "variables";
@import "mixin";
/*---------------------------*/

body,
html {
  height: auto;
}

body.post-type-product-feed,
body.product-feed_page_wpfm_dashboard,
body.product-feed_page_merchant_settings,
body.product-feed_page_category_mapping {
  direction: ltr;
}

.rex-onboarding {
  * {
    margin: 0px;
    padding: 0px;
  }
  *:focus {
    box-shadow: none;
    border: none;
    outline: none;
  }
  body,
  html {
    height: 100%;
    width: 100%;
  }

  textarea,
  select,
  button,
  label,
  input,
  body,
  div,
  a,
  p {
    font-family: "Roboto", sans-serif;
  }

  body,
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    color: $body-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figur,
  a {
    margin: 0px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
  }

  a:hover,
  a:focus,
  input:focus,
  button:focus,
  a:active {
    text-decoration: none;
    outline: none;
    outline-offset: 0px;
    box-shadow: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  input,
  textarea,
  select {
    border: 1px solid #d1d1d1;
    font-size: 14px;
    padding: 8px 15px;
    width: 100%;
    resize: none;
  }

  button {
    cursor: pointer;
  }

  /*-----------heading tag Typography------------*/
  h1 {
    font-size: 50px;
    line-height: 65px;
  }
  h2 {
    font-size: 40px;
    line-height: 54px;
  }
  h3 {
    font-size: 30px;
    line-height: 42px;
  }
  h4 {
    font-size: 24px;
    line-height: 34px;
  }
  h5 {
    font-size: 18px;
    line-height: 28px;
  }
  h6 {
    font-size: 16px;
    line-height: 26px;
  }
}
/*------------font weight Typography------------*/
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/*------------margin class ------------*/

.mr-5 {
  margin-right: 1.25rem;
}

/*-------------------------*/
.pos-relative {
  position: relative;
}

/*-----------extendable classes-----------*/
a,
.transition-3s {
  @include transitions(all 0.3s ease); //from mixin.scss
}
.transition-5s {
  @include transitions(all 0.5s ease); //from mixin.scss
}
.rex-new-custom-btn,
.btn-default {
  display: block;
  border: none;
  height: 48px;
  line-height: 46px;
  padding: 0px 20px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background-color: $primary-color;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*------------------------*/
.visibility-hide {
  opacity: 0;
  visibility: hidden;
}
.visibility-show {
  opacity: 1;
  visibility: visible;
}

/*-----------------------*/
.position-center-XY-axis {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transforms(translate(-50%, -50%)); //from mixin.scss
}

.position-center-X-axis {
  position: absolute;
  left: 50%;
  @include transforms(translateX(-50%)); //from mixin.scss
}

.position-center-Y-axis {
  position: absolute;
  top: 50%;
  @include transforms(translateY(-50%)); //from mixin.scss
}
