/*----06.log-viewer style --------*/

.wpfm-log {
  #log-viewer {
    #wpfm-log-copy {
      margin: 10px 0;
    }
    #wpfm-log-content {
      padding: 10px;
    }
  }
}

.wpfm-pro-tag {
  position: absolute;
  background: #1fb3fb;
  color: #fff;
  line-height: normal;
  text-transform: uppercase;
  font-size: 12px;
  padding: 4px 6px 2px;
  border-radius: 3px;
  z-index: 1;
}
