//-----------Merchant settings page style------------
.merchant-settings {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  background-color: #ededf3;
  padding: 55px;
  border-radius: 12px;
  margin-top: 20px;
  @media #{$device_992_1199} {
    display: flex;
  }
  @media #{$device_768_991} {
    padding: 20px;
    display: block;
  }

  .right-merchant,
  .left-merchant {
    width: 50%;
    @media #{$device_768_991} {
      width: 100%;
    }
  }
  .single-merchant-area {
    padding: 0 15px;
    @media #{$device_576_767} {
      padding: 0px;
    }
    margin-bottom: 30px;
    align-self: stretch;
    .single-merchant-block {
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);
      padding: 25px 33px 33px;
      .btn-default {
        display: inline-block;
        border: 1px solid rgb(31, 179, 251);
        height: 50px;
        line-height: 47px;
        padding: 0px 20px;
        font-size: 15px;
        font-weight: 500;
        color: #787890;
        text-align: center;
        border-radius: 5px;
        text-transform: capitalize;
        background-color: transparent;
        &:hover {
          background-color: #1fb3fb;
          color: #fff;
        }
      }

      .rex-google-merchant {
        padding-top: 25px;
        .button-area {
          margin: 0 0 auto 150px;
          @media #{$device_1200_1399} {
            margin: 0 0 auto 130px;
          }
          @media #{$device_992_1199} {
            margin: 0;
          }

          .btn-default {
            display: inline-block;
            border: 1px solid $primary-color;
            height: 50px;
            line-height: 47px;
            padding: 0px 20px;
            font-size: 15px;
            font-weight: 500;
            color: #787890;
            text-align: center;
            border-radius: 5px;
            text-transform: capitalize;
            background-color: transparent;
            &:hover {
              background-color: $primary-color;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .authorized {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .body {
      p {
        font-size: 16px;
        color: #787890;
        padding: 30px 0 15px;
      }
      .single-merchant-bold {
        font-weight: 600;
        padding: 15px 0 10px;
      }
    }
  }

  .title {
    color: #3c3e4a;
    font-size: 1.37rem;
    font-weight: 500;
    line-height: 1.25;
  }

  & > .col {
    width: 50%;

    &:first-child {
      padding-right: 30px;
    }

    @media #{$device_992_1199} {
      width: 100%;

      &:first-child {
        padding-right: 0;
        margin-bottom: 40px;
      }
    }
  }

  select,
  textarea,
  input {
    height: 40px;
    box-shadow: none !important;
    border-radius: 3px;
    width: 100%;
    border: 1px solid #e8e8e8;

    &:focus {
      border-color: rgba($primary-color, 0.7);
    }
  }
  textarea {
    height: 120px;
  }

  .merchant-action {
    .rex-card {
      margin-top: 0;
      padding: 0 0 20px 0;
      margin-bottom: 30px;
      box-shadow: none;
      border-radius: 3px;
      border: 1px solid #e6dbb5;
      background-color: #fbf1d3;
      min-width: 100%;

      .card-title {
        font-size: 20px;
        border-bottom: 1px solid #e6dbb5;
        padding: 7px 20px;
        font-weight: 500;
        color: #856404;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
      }
      .rex-p {
        font-size: 15px;
        font-size: 15px;
        padding: 15px 20px;
      }
      a.btn {
        height: 44px;
        line-height: 44px;
        background: #92772a;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        border: none;
        text-transform: capitalize;
        min-width: 120px;
        border-radius: 3px;
        cursor: pointer;
        font-weight: 500;
        display: inline-block;
        margin-left: 20px;
        margin-top: 10px;

        &:hover {
          background: $primary-color;
        }
      }
    }

    .rex-card.auth-success {
      background-color: #d9fde1;
      border-color: #c3e6cb;
      padding-bottom: 0;

      .card-title {
        border-color: #c3e6cb;
        color: #155724;
      }
    }
  }

  .input-field {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    margin-bottom: 20px;

    label {
      min-width: 150px;
    }
  }

  .video-container {
    iframe {
      height: 465px;
    }
  }

  button.btn {
    height: 44px;
    line-height: 44px;
    background: #1fb3fb;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    border: none;
    text-transform: capitalize;
    min-width: 120px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
    margin-right: 10px;
    @extend .transition-3s;

    i {
      margin-left: 5px;
      font-size: 15px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background: #47cccf;
    }
    &:focus {
      box-shadow: none;
      outline: inherit;
    }

    &.rex-reset-btn {
      i {
        transform: rotateY(180deg);
      }
    }
  }
}
