//----------01. Settings page style-----------

.rex-onboarding {
  .premium-merchant-alert {
    position: fixed;
    z-index: 9;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    @extend .visibility-hide;
    @extend .transition-5s;

    &.show-alert {
      @extend .visibility-show;
    }

    .alert-box {
      background-color: #fff;
      border-radius: 5px;
      text-align: center;
      margin: auto;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      max-width: 100%;
      width: 500px;
      padding: 32px 20px 40px 20px;

      h2 {
        text-transform: capitalize;
        font-weight: 500;
        color: #23282d;
      }
      p {
        font-size: 18px;
        line-height: normal;
        color: #545454;
        font-weight: 500;
        word-wrap: break-word;
        margin: 10px 0 20px;
      }
      i.warning {
        color: #fd3054;
        font-size: 80px;
      }
      .delete {
        position: absolute;
        top: 6px;
        right: 8px;
      }
      a {
        color: $primary-color;

        &:hover {
          text-decoration: underline;
        }
        &:focus {
          box-shadow: none;
        }
      }
      button {
        border: 0;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        font-weight: 500;
        padding: 12px 32px;
        background: $primary-color;
        text-transform: uppercase;
      }
    }
  } //--premium-merchant-alert

  .rex-settings-tab-wrapper {
    margin-top: 20px;
  }

  .rex-settings-tabs {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;

    li {
      position: relative;
      display: inline-flex;
      flex-flow: row;
      align-items: center;
      padding: 13px 34px;
      cursor: pointer;
      text-transform: uppercase;
      border-radius: 6px 6px 0 0;
      font-size: 14px;
      letter-spacing: 1px;
      color: #a8a7be;
      font-family: "Roboto";
      font-weight: 500;
      height: 48px;

      @media #{$device_1400_1599} {
        padding: 13px 24px;
      }
      @media #{$device_1200_1399} {
        padding: 10px 12px;
        height: 42px;
        letter-spacing: 0.5px;
      }
      @media #{$device_992_1199} {
        padding: 10px 7px;
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
      }
      @media #{$device_768_991} {
        padding: 10px 14px;
      }

      svg {
        margin-right: 12px;
      }

      &:not(.video) svg {
        position: relative;
        top: -2px;
      }

      &.active {
        background: #f6f6f8;
        color: $primary-color;
      }

      &.active:last-child:after {
        left: initial;
        right: 0;
      }
      &.active:not(.status) svg path {
        stroke: $primary-color;
      }
      &.active.status svg path {
        fill: $primary-color;
      }

      i {
        margin-right: 10px;
      }
    }
  }

  .rex-settings-tab-content {
    .tab-content {
      display: none;
      background: #f6f6f8;
      padding: 40px 30px 50px;
      border-radius: 12px;
      @media #{$device_768_991} {
        padding: 20px;
      }

      &.active {
        display: block;
      }
    }

    .block-wrapper {
      background-color: #ededf3;
      padding: 40px;
      border-radius: 12px;

      @media #{$device_992_1199} {
        padding: 30px;
      }

      .rex-general__content-area {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin: 0 -15px;

        @media #{$device_1400_1599} {
          display: block;
        }

        /* -----------.rex-general__left-info-wrapper ------------- */

        .rex-general__left-info-wrapper {
          width: 75%;
          padding: 0 15px;

          @media #{$device_1400_1599} {
            width: 100%;
          }

          .rex-general__single-block-wrapper {
            .rex-general__single-block-category,
            .rex-general__single-block-area {
              display: flex;
              flex-flow: row;
              align-items: flex-start;
              margin: 0 -15px;

              @media #{$device_768_991} {
                display: block;
              }
            }

            .rex-general__single-block-area {
              .rex-general__single-block.banner-block {
                width: 70%;
                background-color: #fff;
                padding: 15px;
                box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);
                margin-bottom: 20px;
                border-radius: 10px;

                @media #{$device_768_991} {
                  width: 100%;
                }

                .onboarding-block {
                  background: #e6e9f2;
                  height: 100%;
                  display: flex;
                  flex-flow: column;
                  align-items: center;
                  justify-content: center;
                }

                img {
                  width: 100%;
                  display: block;
                }
              }

              .rex-general__logo-block {
                width: 34%;

                @media #{$device_768_991} {
                  width: 100%;
                }
                .upgrade-pro {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid #1fb3fb;
                  border-radius: 10px;
                  padding: 23px;
                  margin-bottom: 20px;
                  @media #{$device_1600_1699} {
                    padding: 25px 30px;
                  }
                  @media #{$device_1400_1599 } {
                    padding: 46px;
                  }

                  @media #{$device_1200_1399} {
                    padding: 25px;
                  }

                  @media #{$device_768_991} {
                    padding: 20px;
                  }

                  .btn-default {
                    color: #fff;
                    display: inline-block;
                    font-size: 15px;
                    text-transform: capitalize;
                    height: 40px;
                    line-height: 40px;
                    margin-top: 30px;
                    border-radius: 5px;

                    &:hover {
                      background-color: #1fb3fa;
                    }
                  }
                }

                .rex-general__single-blocks.social-share {
                  background-color: #fff;
                  padding: 15px;
                  box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);
                  margin-bottom: 20px;
                  border-radius: 10px;
                  .social {
                    display: flex;
                    a {
                      font-size: 32px;
                      color: #9e9eae;
                      margin-right: 10px;
                      &:hover {
                        color: #00b4ff;
                      }
                    }
                  }
                }
              }
            }

            .rex-general__single-block {
              width: calc(100% / 3);
              margin-right: 20px;
              align-self: stretch;
              border-radius: 10px;
              background-color: #fff;
              box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);
              padding: 25px 33px 33px;
              &:last-child {
                margin-right: 0;
              }

              @media #{$device_1200_1399} {
                padding: 25px;
              }

              @media #{$device_768_991} {
                width: 100%;
                padding: 12px 25px 25px;
                margin-bottom: 20px;
              }

              .header {
                display: flex;
                background-color: #fff;
                flex-flow: row;
                align-items: center;

                h4 {
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 24px;
                  padding: 15px 0;
                  margin-left: 10px;
                }
              }

              .body {
                .btn-default {
                  color: #fff;
                  display: inline-block;
                  font-size: 15px;
                  text-transform: capitalize;
                  height: 40px;
                  line-height: 40px;
                  margin-top: 25px;
                  border-radius: 5px;

                  &:hover {
                    background-color: #1fb3fb;
                  }
                }
              }
            }
          } //single-block-wrapper(left)
        }

        /* -----------.rex-general__right-info-wrapper ------------- */

        .rex-general__right-info-wrapper {
          width: 25%;
          padding: 12px 20px 20px;
          border-radius: 10px;

          @media #{$device_1400_1599 } {
            width: 100%;
            padding: 32px 0px 0px;
          }

          @media #{$device_1200_1399} {
            width: 100%;
          }

          @media #{$device_768_991} {
            width: 100%;
          }

          h4.title {
            font-size: 20px;
            line-height: 1.4;
            font-weight: 700;
            margin-bottom: 10px;
          }
          .rex-general__single-block {
            background-color: #fff;
            padding: 18px 20px 20px;
            box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);
            margin-bottom: 20px;
            border-radius: 10px;
            &:last-child {
              margin-bottom: 0;
            }

            @media #{$device_1200_1399} {
              padding: 25px;
            }

            @media #{$device_768_991} {
              width: 100%;
            }

            .header {
              display: flex;
              background-color: #fff;
              flex-flow: row;
              align-items: center;

              img {
                width: 30px;
                height: 30px;
                margin-right: 8px;
              }

              h4 {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                padding: 15px 0;
              }
            }

            .body {
              .btn-default {
                color: #fff;
                display: inline-block;
                font-size: 15px;
                text-transform: capitalize;
                height: 40px;
                line-height: 40px;
                margin-top: 30px;
                border-radius: 5px;

                &:hover {
                  background-color: #1fb3fa;
                }
              }
            }
          }
        }

        .right {
          width: 100%;
          display: flex;
          align-self: stretch;
          flex-flow: column;
          align-items: flex-start;
          justify-content: center;
          padding: 25px 33px 33px;
          margin: 30px 15px 0;
          border-radius: 10px;
          background-color: rgb(255, 255, 255);
          box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);

          @media #{$device_1400_1599} {
            width: auto;
            padding-left: 15px;
            margin-top: 25px;
          }

          @media #{$device_1200_1399} {
            padding: 25px;
          }
        }
      } //general

      .upgrade {
        padding: 25px 33px 33px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 60px 0px rgba(2, 0, 105, 0.08);
        @media #{$device_1200_1399} {
          padding: 25px;
        }
        .rex-upgrade {
          .title {
            font-size: 20px;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 8px;
            color: rgb(60, 62, 74);
          }
          & > ul {
            li {
              position: relative;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.5;
              color: rgb(120, 120, 144);
              padding-left: 27px;
              margin-bottom: 12px;

              &:before {
                position: absolute;
                content: "\f00c";
                font-size: 16px;
                font-family: FontAwesome;
                font-weight: 700;
                left: 0;
                top: 5px;
                color: $primary-color;
                line-height: normal;
                text-align: center;
              }
            }
          }
        }
        .btn-default {
          color: #fff;
          border-radius: 5px;
          text-transform: capitalize;
          font-weight: 400;
          font-size: 15px;
          padding: 0 30px;
          letter-spacing: 0.5px;
          margin-top: 11px;
          display: inline-block;

          &:hover {
            background-color: #216df0;
          }
        }
      } //upgrade
    }

    .rex-merchant {
      display: flex;
      flex-flow: row wrap;
      margin-left: -25px;

      .merchant-title {
        font-size: 20px;
        line-height: normal;
        color: #363b4e;
        font-weight: 500;
        width: 100%;
        text-transform: capitalize;
        margin-bottom: 20px;
        margin-left: 20px;
      }

      .single-merchant {
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 1px 2px rgba(190, 190, 215, 0.2);
        margin-bottom: 20px;
        width: calc(100% / 4 - 20px);
        margin-left: 20px;

        @media #{$device_1200_1399} {
          width: calc(100% / 3 - 20px);
        }

        @media #{$device_992_1199} {
          width: calc(100% / 2 - 20px);
        }

        @media #{$device_576_767} {
          width: calc(100% / 1 - 20px);
        }

        .wpfm-pro-tag {
          top: calc(6% - 1px);
          left: 20px;
          transform: translateY(-50%);
        }

        .title {
          display: block;
          width: calc(100% - 60px);
          min-height: 21px;
          padding-right: 10px;
          margin-bottom: 0;
          font: {
            family: "Roboto", sans-serif;
            weight: 500;
            size: 14px;
            style: normal;
          }
          color: #697385;
        }

        &.wpfm-pro {
          .switch {
            opacity: 0;
            visibility: hidden;
          }
        }

        &__button {
          border: none;
          outline: 0;
          box-shadow: none;
          padding: 0;
          border-radius: 5px;
          background: rgba(33, 109, 240, 0.1);
          transition: all 0.5s;
          a {
            display: block;
            font: {
              size: 14px;
              family: "Roboto", sans-serif;
              style: normal;
              weight: 400;
            }
            line-height: 1;
            color: #697385;
            padding: 9px 14px;

            &:hover {
              color: #fff;
            }
          }

          &:hover {
            background-color: #216df0;
          }
        }
      }
    }

    .video-container {
      iframe {
        width: 100%;
        position: relative;
        top: inherit;
        left: inherit;
        max-width: 790px;
        min-height: 445px;
      }
    }

    #tab4 {
      .merchant-title {
        font-size: 20px;
        line-height: normal;
        color: #363b4e;
        font-weight: 500;
        width: 100%;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
    }

    .feed-settings {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;

      @media #{$device_992_1199} {
        grid-template-columns: 1fr;
        gap: 20px;
      }

      .feed-right,
      .feed-left {
        display: flex;
        flex-flow: wrap row;
        gap: 25px;

        @media #{$device_992_1199} {
          gap: 20px;
        }
      }

      .single-merchant {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 16px 20px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 1px 2px rgba(190, 190, 215, 0.2);

        @media #{$device_992_1199} {
          width: 100%;
        }

        .wpfm-pro-tag {
          top: calc(6% - 1px);
          left: 20px;
          transform: translateY(-50%);
        }

        .title {
          display: block;
          width: calc(100% - 30px);
          font: {
            family: "Roboto", sans-serif;
            weight: 400;
            size: 14px;
            style: normal;
          }
          color: #697385;
          line-height: 1.4;
          min-height: 21px;
          padding-right: 10px;
          margin-bottom: 0;
        }

        .wpfm-fb-pixel,
        .wpfm-per-batch {
          display: flex;
          flex-flow: row;
          align-items: center;
          width: 180px;
        }

        input {
          height: 36px;
          border: 1px solid #eee;
          background: #f6f6f8;
          box-shadow: none;
          padding: 5px 10px;
          width: 80px;
          margin-right: 10px;
          border-radius: 4px;
        }

        input[type="checkbox"] {
          border: 1px solid #8c8f94;
          border-radius: 4px;
          background: #fff;
          color: #50575e;
          clear: none;
          cursor: pointer;
          display: inline-block;
          line-height: 0;
          height: 1rem;
          margin: -0.25rem 0.25rem 0 0;
          outline: 0;
          padding: 0 !important;
          text-align: center;
          vertical-align: middle;
          width: 1rem;
          min-width: 1rem;
          -webkit-appearance: none;
          box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
          transition: 0.05s border-color ease-in-out;
        }

        button {
          width: 120px;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: none;
          background: $primary-color;
          color: #fff;
          height: 40px;
          line-height: 40px;
          padding: 0 10px;
          border-radius: 4px;
          text-transform: capitalize;
          font-size: 15px;
          i {
            margin-left: 4px;
            display: none;
          }
        }
        button.save-transient-button {
          order: 2;
          height: 46px;
        }

        &.wpfm-custom-field-frontend {
          display: block;
          margin-left: 40px;
        }

        &.wpfm-fb-pixel-field {
          margin-left: 40px;
        }
        .wpfm-rollback-option-area,
        .wpfm-cache-ttl-area {
          display: flex;
          gap: 15px;
        }
      }
    }

    .system-status {
      .title {
        width: 100%;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      table {
        box-shadow: none;
        tbody {
          tr {
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            &:last-child {
              border-bottom: none;
            }
            td {
              color: #555;
              font-size: 16px;
              line-height: 1.5;
              padding: 11px 18px;
              font-weight: 500;
              border-right: 1px solid rgba(0, 0, 0, 0.12);

              &:last-child {
                border-right: none;
              }
              mark {
                background: transparent none;

                code {
                  color: #7ad03a;
                  background: transparent;
                }

                .dashicons {
                  background: #7ad03a;
                  border-radius: 100%;
                  color: #fff;
                  width: 20px;
                  height: 20px;
                  position: relative;
                  top: 3px;
                  margin-right: 9px;
                  display: inline-block;
                  &.dashicons-warning {
                    background: #ff0000;
                  }
                }
                &.yes {
                  color: #7ad03a;
                }
                &.error {
                  color: #ff0000;
                }
              }
            }
          }
        }
      }
    }
  }

  .wpfm-log {
    form {
      display: flex;
    }
    select {
      border: 1px solid #d1d1d1;
      margin-right: 10px;
      border-radius: 5px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
    button {
      border-radius: 5px;
    }
  }

  span.helper-text {
    width: 100%;
    order: 3;
    font-size: 13px;
    font-style: italic;
    color: #363b4ead;
    padding: 5px 0;
  }

  select#wpfm_cache_ttl,
  select#wpfm_rollback_options {
    order: 1;
    width: 47%;
  }
  select#wpfm_cache_ttl {
    order: 1;
    width: 170px;
  }

  .rex-feed-rollback .wpfm-dropdown .rex-feed-rollback-button {
    order: 2;
    width: 50%;
    color: white;
    border-radius: 4px;
    text-transform: unset;
  }

  .rex-feed-rollback .wpfm-dropdown span.helper-text {
    order: 3;
    color: red;
  }

  // button#wpfm-purge-cache {
  //   // width: 59%;
  //   // height: 46px;
  //   @media #{$device_1400_1599} {
  //     width: 52%;
  //   }
  //   @media #{$device_1200_1399} {
  //     width: 47%;
  //   }
  //   @media #{$device_992_1199} {
  //     width: 62%;
  //   }
  //   @media #{$device_768_991} {
  //     width: 60%;
  //   }
  // }
}

.rex-onboarding
  .rex-settings-tab-content
  .feed-settings
  .single-merchant
  input:not([type="checkbox"]) {
  height: 40px;
  border: 1px solid #eee;
  background: #f6f6f8;
  box-shadow: none;
  padding: 5px 10px;
  width: 80px;
  margin-right: 10px;
  border-radius: 4px;
}

.rex-onboarding
  .rex-settings-tab-content
  .feed-settings
  .single-merchant.wpfm-custom-field-frontend
  .wpfm-custom-fields {
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
}

.rex-onboarding
  .rex-settings-tab-content
  .feed-settings
  .single-merchant.wpfm-custom-field-frontend
  .wpfm-custom-fields
  .single-meta-field {
  width: 150px;
  padding-right: 10px;
}
