//----- Sidebar(right side) feed-features-text--
.cmb2-id-rex-feed-features-text {
    ol{
        list-style: none;
        counter-reset: li;

        li{
            position: relative;
            padding-left: 27px;
            line-height: 1.4;
            margin-bottom: 7px;
            display: block;

            &:before {
                counter-increment: li;
                content: " " counter(li) " ";
                position: absolute;
                left: 0;
                top: 2px;
                background: $primary-color;
                color: #fff;
                width: 18px;
                height: 18px;
                line-height: normal;
                font-size: 13px;
                border-radius: 100%;
                text-align: center;
                font-weight: 500;
            }
        }
    }
    a.btn{
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        padding: 0 20px;
        background: #062c80;
        color: #fff;
        display: inline-block;
        margin-left: 30px;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin-top: 20px;

        &:hover{
            background: #1fb3fb;
        }
    }
}